<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pizza Shop - Sign Up</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Sign Up</h1>
<form action="/signup" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" required><br><br>

  <h3>Address Information</h3>

  <label for="street_name">Street Name:</label><br>
  <input type="text" id="street_name" name="street_name" required><br><br>

  <label for="house_number">House Number:</label><br>
  <input type="text" id="house_number" name="house_number" required><br><br>

  <label for="postal_code">Postal Code:</label><br>
  <input type="text" id="postal_code" name="postal_code" required><br><br>

  <label for="city">City:</label><br>
  <input type="text" id="city" name="city" required><br><br>

  <label for="country">Country:</label><br>
  <input type="text" id="country" name="country" required><br><br>

  <input type="submit" value="Sign Up">
</form>
</body>
</html>
